:root {
  --frame-cale: 0.8;

}

body{
  background-color: rgb(90, 86, 86);
}
.frame-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
#iframe{

  width: 100%;
  height: 900px;
  background-color: white;

  /* border: 0px; */
}
/* #iframe {
  zoom: var(--frame-cale);
  -moz-transform: scale(var(--frame-cale));
  -moz-transform-origin: 0 0;
  -o-transform: scale(var(--frame-cale));
  -o-transform-origin: 0 0;
  -webkit-transform: scale(var(--frame-cale));
  -webkit-transform-origin: 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #iframe {
    zoom: 1;
  }
} */
#text-info p
,#text-info span{
  color: aliceblue;
  display: inline-block;
  margin-right: 6px;
}
/* -----------Check List (from bs)----------- */
#check_list b,#check_list label{
  color: whitesmoke;
}
#check_list{
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}
#checker-data #img-doubles{
display: flex;
flex-flow: row wrap;
}
#checker-data #img-doubles img{
width: 60px;
height: 60px;

}

.list-group {
  font-size: 0.9rem;
  line-height: 0.9rem;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}
.list-group b{
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: rgb(63, 61, 61);
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-item a {
  font-size: 0.8rem;
}
.link-secondary {
  color: #6c757d;
}

.list-group-item.d-flex{
  border-bottom: 1px solid whitesmoke;
}

.list-group-item.sub.notice{
border: 2px solid #2496ff;
}

/* ------------------------------- */




/* -----------LoadRing----------- */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ------------------------------- */



/* -----------TopBar----------- */
.topbar__row{
  display: flex;
  gap: 5px;
  height: 40px;
  padding: 5px 5px;
  border: 1px solid rgba(33,43,52,1);
  background-color: rgb(63, 61, 61);
}
.topbar__burger{
  border: 1px solid #000;
  width: 60px;
}
.topbar__logo{
  display: none;
}
.topbar__burger-text{
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  color: azure;
  text-align: center;
}
.topbar__items{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.topbar__item{
  display: flex;
  align-items: center;
}
.topbar__btn{
  cursor: pointer;
  min-width: 60px;
  margin-left: 5px;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  color: rgb(205,216,228);
  text-shadow: 0 -1px rgb(46,53,58);
  text-decoration: none;
  user-select: none;
  line-height: 2em;
  padding: 1px 1.2em;
  outline: none;
  border: 1px solid rgba(33,43,52,1);
  border-radius: 3px;
  background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
}
.topbar__btn:active {
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
}
.topbar__btn:focus:not(:active) {
  border: 1px solid rgb(22,32,43);
  border-bottom: 1px solid rgb(25,34,45);
  background: rgb(53,61,71);
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
  pointer-events: none;
}
#original-link{
        color: rgb(142, 194, 236);
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
}
/* ------------------------------- */
/* ---------------LeftBar--------- */
.leftbar__inner{
  display: flex;
}
.leftbar__tool{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 40px);
  width: 70px;
  border-right: 1px solid rgba(33,43,52,1);
  border-bottom: 1px solid rgba(33,43,52,1);
  background-color: rgb(63, 61, 61);
}
.leftbar__tool-item{
  text-align: center;
}
.leftbar__tool-btn{
  margin-top: 5px;
  cursor: pointer;
  width: 60px;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  color: rgb(205,216,228);
  text-shadow: 0 -1px rgb(46,53,58);
  text-decoration: none;
  user-select: none;
  line-height: 2em;
  padding: 1px 1.2em;
  outline: none;
  border: 1px solid rgba(33,43,52,1);
  border-radius: 3px;
  background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
}
.leftbar__tool-btn:active{
  box-shadow:
  inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
}
.leftbar__tool-btn:focus:not(:active){
  border: 1px solid rgb(22,32,43);
  border-bottom: 1px solid rgb(25,34,45);
  background: rgb(53,61,71);
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
  pointer-events: none;
}
.leftbar__tool-bottom{
  margin-bottom: 10px;
}
.navigation{
  min-height: calc(100vh - 40px);
  width: 300px;
  border-right: 1px solid rgba(33,43,52,1);
  border-bottom: 1px solid rgba(33,43,52,1);
  background-color: rgb(63, 61, 61);
}
/* ------------------------------- */
/* ------------footer------------- */

/* ------------------------------- */