/* :root {
  --frame-cale: 0.8;

} */

/* --------------------RESET--------------------- */
html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

/* img {
  max-width: 100%;
  display: block;
} */

input,
button,
textarea,
select {
  font: inherit;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* ----------------------------- */


body {
  background-color: rgb(63, 61, 61);
  font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	color: #363838;
	overflow-x: hidden;
	min-width: 320px;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid{
	max-width: 1920px;
	margin: 0 auto;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header{
  flex: 0 0 auto;
  max-height: 40px;
  height: 100%;
  border-bottom: 1px solid rgb(43, 43, 43);
  overflow: hidden;
  z-index: 5;
}
.main{
  flex: 1 0 auto;
}
.main__inner{
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 40px);
}

.frame-wrapper {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
}

#iframe {
  width: 100%;
  background-color: white;
}
/* #iframe {
  zoom: var(--frame-cale);
  -moz-transform: scale(var(--frame-cale));
  -moz-transform-origin: 0 0;
  -o-transform: scale(var(--frame-cale));
  -o-transform-origin: 0 0;
  -webkit-transform: scale(var(--frame-cale));
  -webkit-transform-origin: 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #iframe {
    zoom: 1;
  }
} */
#text-info p,
#text-info span {
  color: aliceblue;
  display: inline-block;
  margin-right: 6px;
}
#scripts-img{
display: flex;
}
#scripts-img img{
width: 20px;
margin: 0 5px;
}



/* -----------checker-data--------------- */
#checker-data #img-doubles {
  display: flex;
  flex-flow: row wrap;
}
#checker-data{
  border-bottom: 1px solid rgba(33, 43, 52, 1);
  padding: 5px;
  padding-bottom: 8px;
}
#checker-data #img-doubles img {
  width: 60px;
  height: 60px;
}
/* -------------------------------------- */


/* ------------check_list---------------------- */
#check_list{
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 0px;
  margin-top: 0px;
  margin-right: 2px;
}
#check_list::-webkit-scrollbar {
  width: 6px;
}
#check_list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
#check_list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}
#check_list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#check_list b,
#check_list label {
  color: whitesmoke;
}
.list-group {
  font-size: 0.9rem;
  line-height: 0.9rem;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.list-group b {
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.list-group__items {
  display: block;
  /* margin-bottom: 10px; */
}
.list-group__items.tab{
  margin: 0px 10px;
}
.list-group-item__row{
  margin: 0px -10px;
}
.list-group__items-title {
  display: block;
  /* margin-bottom: 8px; */
  margin: 6px;
}
.list-group__items-title:hover{
  cursor: pointer;
  color: rgb(241, 185, 145);
}
.list-group-item {
  /* display: block; */
  display: flex;
  align-items: center;
  color: #212529;
  text-decoration: none;
  line-height: 16px;
  background-color: rgb(63, 61, 61);
  /* padding: 3px 0 3px 3px; */
  padding: 5px 13px 5px 6px;
}
.link-secondary {
  display: block;
  margin-bottom: 5px;
  color: #6c757d;
}
.list-group-item.sub.notice {
  border: 2px solid #2496ff;
}
.form-check-input{
  display: inline-block;
  margin-right: 3px;
}

/* ------------------------------- */
.tab__input,
.tab-content {
  display: none;
}
.tab-title::after {
  content: '+';
  float: right;
}
.tab :checked+.tab-title::after {
  content: '-';
}
.tab :checked~.tab-content {
  display: block;
}



/* -----------LoadRing----------- */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring.check-list {
  width: 15px;
  height: 15px;
  margin-left: 2px;
}
.lds-ring.check-list div{
  width: 15px;
  height: 15px;
  margin: 0px;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* ------------------------------- */



/* -----------TopBar----------- */
.topbar__row {
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
  /* padding: 5px 5px;
  border: 1px solid rgba(33, 43, 52, 1); */
  background-color: rgb(63, 61, 61);
}
.topbar__burger {
  /* border-top: none;
  border-bottom: none; */
  width: 60px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar__logo {
  display: none;
}
.topbar__burger-text {
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  color: azure;
  text-align: center;
}
.topbar__items {
    /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(43, 43, 43);
}
.topbar__item {
  align-items: center;
  /*  */
  border-right: 1px solid rgb(43, 43, 43);
}
body > div.wrapper > header > div > div > div > div:nth-child(3) > div:nth-child(4),
body > div.wrapper > header > div > div > div > div:nth-child(3) > div:nth-child(2),
#country{
  border-left: 1px solid rgb(43, 43, 43);
}

body > div.wrapper > header > div > div > div > div:nth-child(3) > div:nth-child(3),
body > div.wrapper > header > div > div > div > div:nth-child(3) > div:nth-child(1),
body > div.wrapper > header > div > div > div > div:nth-child(1) > div:nth-child(1){
  border-right: none;
}

.topbar__btn {
  cursor: pointer;
  min-width: 40px;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: rgb(205, 216, 228);
  /* text-shadow: 0 -1px rgb(46, 53, 58); */
  text-decoration: none;
  user-select: none;
  line-height: 2em;
  /* padding: 1px 1.2em; */
  outline: none;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rgba(33, 43, 52, 1);
  border-radius: 3px;
  background: rgb(81, 92, 102) linear-gradient(rgb(81, 92, 102), rgb(69, 78, 87)); */
}
.topbar__btn i{
  color: #ffffff;
  opacity: 0.6;
  font-size: 17px;
}
.topbar__btn i:hover{
  /* color: #ffffff; */
  opacity: 0.8;
}
.topbar__btn a{
  text-decoration: none;
  color: rgb(205, 216, 228);
}
.topbar__btn:active {
  box-shadow:
    inset 0 1px 3px rgba(0, 10, 20, .5),
    0 1px rgb(83, 94, 104),
    0 0 1px rgb(86, 96, 106);
}
.topbar__btn:focus:not(:active) {
  /* border: 1px solid rgb(22, 32, 43); */
  /* border-bottom: 1px solid rgb(25, 34, 45); */
  background: rgb(53, 61, 71);
  box-shadow:
    inset 0 1px 3px rgba(0, 10, 20, .5),
    0 1px rgb(83, 94, 104),
    0 0 1px rgb(86, 96, 106);
  pointer-events: none;
}
.qrcode i{
  padding-left: 5px;
}
/* ---------------------------------------------- */


/* ------------info-block------------------ */
.info-block{
  margin: 5px 0;
  padding: 4px 9px;
  border-radius: 3px;
  border: 1px solid #d3d4d5;
  line-height: 20px;
}
.info-block p{
  display: inline-block;
  margin: 0;
  padding: 0;
  color: aliceblue;
}
.info-block.warning{
  border: 2px solid #fcd62e;
  border-left: 7px solid #fcd62e;
}
.info-block.info{
  border: 2px solid#62a5ff;
  border-left: 7px solid #62a5ff;
}
.info-block.error{
  border: 2px solid #fc5f2e;
  border-left: 7px solid  #fc5f2e;
}

i.fa-triangle-exclamation{
  color:#fcd62e;
}
i.fa-circle-chevron-down{
  color:#62a5ff;
}
i.fa-circle-exclamation{
  color:#fc5f2e;
}

/* ------------------------------------------- */


/* ---------------LeftBar--------- */
.leftbar__inner {
  position: relative;
  display: flex;
  border-left: 1px solid rgba(33, 43, 52, 1);
}

.leftbar__tool {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38px;
  height: calc(100vh - 40px);
  background-color: rgb(63, 61, 61);
}

.leftbar__tool-item {
  text-align: center;
}

.leftbar__tool-btn {
  margin-top: 5px;
  padding: 5px 8px;
  cursor: pointer;
  width: 30px;
  display: block;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  align-items: center;
  color: rgb(205, 216, 228);
  text-shadow: 0 -1px rgb(46, 53, 58);
  text-decoration: none;
  user-select: none;
  outline: none;
  border: 1px solid rgba(33, 43, 52, 1);
  border-radius: 3px;
  background: rgb(81, 92, 102) linear-gradient(rgb(81, 92, 102), rgb(69, 78, 87));
}

.leftbar__tool-btn:active {
  box-shadow:
    inset 0 1px 3px rgba(0, 10, 20, .5),
    0 1px rgb(83, 94, 104),
    0 0 1px rgb(86, 96, 106);
}

.leftbar__tool-btn:focus:not(:active) {
  border: 1px solid rgb(22, 32, 43);
  background: rgb(53, 61, 71);
  box-shadow:
    inset 0 1px 3px rgba(0, 10, 20, .5),
    0 1px rgb(83, 94, 104),
    0 0 1px rgb(86, 96, 106);
  pointer-events: none;
}

.navigation{
  display: block;
  /* position: absolute; */
  top: 0px;
  left: 38px;
  width: 300px;
  background-color: rgb(63, 61, 61);
  border-top: none;
  border-left: none;
}

.navigation__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(33, 43, 52, 1);
  border-right: 1px solid rgba(33, 43, 52, 1);
}

.navigation__checker{
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 44px);
}

.navigation__checker-data{
  flex-grow: 1;
}
.navigation__checker-list{
  flex-grow: 0;
}
.navigation__add{
  display: none;
  position: absolute;
  top: -1px;
  left: 338px;
  background-color: rgb(63, 61, 61);
  border: 1px solid rgba(33, 43, 52, 1);
  border-left: none;
  width: 600px;
  height: calc(100vh - 40px);
}

.navigation__add-link,
.add-inner__item,
.add-inner__lock{
  color: #f1f1f1;
  cursor: pointer !important; 
  padding: 5px 10px;
}
.add-inner__head{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(33, 43, 52, 1);
}
.add-inner__main{
  overflow: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 83px);
}
.add-inner__main::-webkit-scrollbar {
  width: 6px;
}
.add-inner__main::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 25px;
}
.add-inner__main::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}
.add-inner__main::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* ------------------------------- */

#manual{
  padding: 0 10px;
}
#manual::-webkit-scrollbar {
  width: 6px;
}
#manual::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 25px;
}
#manual::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}
#manual::-webkit-scrollbar-thumb:hover {
  background: #555; 
}