{% extends 'root/base.html' %}
{% load static %}
{% block content %}
<div class="main-wrapper">
    <h1>Вебы по умолчанию</h1>
    <div class="mb-3" >
      <label for="exampleFormControlTextarea1" class="form-label"></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="25" style="width: 350px;">masterneoweb@gmail.com
d.z.29@yandex.ru
diana.00.91@mail.ru
shaftman
olezzaza15#171067
gashik#45959
ropeq13#197967
natalyariumina28@yandex.ru
54746fa956b04
q9v2qy46mjdkthnp
Lerich
v.yushenko#20430
zan_spec#53311
diegohaas#49019
wmbeer#9030
Lespoir7@mail.ru
giuseppe666
aivanov1@gmail.com
tambov.tk#15368
michal.pisarek89#174112 
Anubhav9692
reformators#176708</textarea>
</div>

</div>
<script>

    let textareaStr = '';
    $('textarea').focus()
    $('textarea').click(function(){
        $(this).select()
    })
</script>
{% endblock %}
