{% extends 'root/base.html' %}
{% load static %}
{% block content %}
<div class="main-wrapper">
    <h1>Проверка ссылки</h1>
    <div class="form-wrapper">
        <form action="{% url 'checker:check_url' %}" method="GET" target="_blank">
            {% csrf_token %}
            <input type="url" name="url" class="form-control" required>
            <button class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <p>Открыть тулбар: <b>Ctrl+B</b></p>
    <div class="checker-about">
        <h6>Спецификация:</h6>
        <div class="item-info">
            1. Кликабельные элементы <a class="__debug">обводяться</a>.
        </div>
        <div class="item-info">
            2. У кликабельных картинок также появляеться обводка <a><img src="https://st.depositphotos.com/2274151/3274/i/600/depositphotos_32746903-stock-photo-winner-grunge-stamp.jpg" class="__debug"></a>
        </div>
        <div class="item-info">
            3. Картинка, которая повторяется имеет другую обводку <img src="https://st.depositphotos.com/2274151/3274/i/600/depositphotos_32746903-stock-photo-winner-grunge-stamp.jpg" class="__debug __debug_double">
        </div>
    </div>

</div>
<style>
{{debug_styles}}
</style>

<style>
    .form-wrapper {
        margin: 10px 0;
        max-width: 300px;
    }

    .form-wrapper button {
        margin-top: 10px;
    }
    .checker-about{
        margin-top: 30px;
    }
    .checker-about .item-info{

    }
    .item-info img{
        width: 80px;
    }
</style>
{% endblock %}