    :root {
    --link-color: rgb(255, 0, 0);
    --cursor-point-color: rgb(255, 153, 0);
    --full-click-elem: rgb(0, 183, 255);
    --price-color: rgb(57, 202, 0);
    --currency-color: rgb(47, 167, 0);
    --discount-color: rgb(118, 0, 141);
    --white-color: #fcffff;
    }
    .__debug.__debug_click_elem{
        outline:2px solid var(--link-color) !important;
        outline-offset:-1px;    
    }

    .__debug.__debug_cursor_point_elem{
        outline:2px solid var(--cursor-point-color) !important;
        outline-offset:-1px;   
    }
    .__debug.__debug_cursor_point_elem.__debug_click_elem{
        outline:2px solid var(--full-click-elem) !important;
        outline-offset:-1px;   
    }

    /* a.__debug.__debug_click_elem{
        outline:2px solid var(--link-color) !important;
        outline-offset:-1px;    
    }
    a.__debug.__debug_click_elem span{
        outline:1px solid var(--link-color) !important;
        outline-offset:-1px;    
    }
    a.__debug.__debug_click_elem span[class^="price_land"]{
        outline:0px solid var(--link-color) !important;
        outline-offset:-1px;    
    }
    a img.__debug.__debug_click_elem{
        outline:2px solid var(--link-color) !important;
        outline-offset:-1px; 
    }
    a div.__debug.__debug_click_elem{
        outline:2px solid var(--link-color) !important;
        outline-offset:-1px; 
    }
    .__debug.__debug_cursor_point_elem{
        outline:2px solid var(--cursor-point-color) !important;
        outline-offset:-1px;   
    } */



    form.__debug_no_select{
        border: 2px solid red !important;
    }
    input.__debug_no_tel{
        background-color: red !important;
    }

    /* Цены */
    .price_land_s1.__debug{
        border: 2px solid var(--price-color);
    }
    .price_land_s2.__debug{
        border: 2px solid var(--price-color);
    }
    .price_land_s3.__debug{
        border: 2px solid var(--price-color);
    }
    .price_land_s4.__debug{
        border: 2px solid var(--price-color);
    }
    .price_land_curr.__debug{
        border: 2px solid var(--currency-color);
    }
    .price_land_discount.__debug{
        border: 2px solid var(--discount-color);
    }

    img.__debug.__debug_double{
        border: 1px dashed red !important;
    }

    img.__debug.__debug_double.__focus_img{
        transition: 1s;
        -webkit-box-shadow: 0px 0px 5px 10px rgba(255, 0, 0, 0.55);
        -moz-box-shadow: 0px 0px 5px 10px rgba(255, 0, 0, 0.55);
        box-shadow: 0px 0px 5px 10px rgba(255, 0, 0, 0.55);
        border: 2px solid rgb(32, 212, 32) !important;
    }

    /* Даты с Бэка */
    span.__debug.__back-date{
        background-color: aquamarine;
    }
    span.__debug.__back-date.__debug_date_error{
        background-color: red;
        font-weight: bold;
    }

    .__debug.geocity, .__debug.user-city{
        border: 2px solid blue;
    }

    .__debug_script_date{
        background-color: #ccffcb;
        border: 2px dashed #538052;
        display: inline-block;
        color: red;
        font-weight: bold;
        max-height: 30px;
    }
    .__debug_msg{
        display:block;
        font-weight: bold;
        border: 2px solid red;
        margin-top: 6px;
        padding: 3px;
        border-radius: 5px;

    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 25px;
        height: 25px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        margin: 8px;
        border: 4px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }