
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="css/reset.css" rel="stylesheet">
  <link href="css/global.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  
  <div class="wrapper">

    <header class="header">
      <div class="topbar">
        <div class="container-fluid">
          <div class="topbar__row">
            <div class="topbar__burger">
              <p class="topbar__burger-text">
                VLD
              </p>
              <img class="topbar__logo" src="" alt="logo">
            </div>
            <div class="topbar__items">
              <div class="topbar__item">
                <div class="topbar__btn">button</div>
                <div class="topbar__btn">button</div>
                <div class="topbar__btn">button</div>
              </div>
              <div class="topbar__item">
                <div class="topbar__btn">button</div>
                <div class="topbar__btn">button</div>
                <div class="topbar__btn">button</div>
              </div>
              <div class="topbar__item">
                <div class="topbar__btn">button</div>
                <div class="topbar__btn">button</div>
                <div class="topbar__btn">button</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="main">

      <div class="leftbar">
        <div class="container-fluid">
          <div class="leftbar__inner">

            <div class="leftbar__tool">
              <div class="leftbar__tool-items">
                <div class="leftbar__tool-item">
                  <div class="leftbar__tool-btn">button</div>
                </div>
                <div class="leftbar__tool-item">
                  <div class="leftbar__tool-btn">button</div>
                </div>
                <div class="leftbar__tool-item">
                  <div class="leftbar__tool-btn">button</div>
                </div>
                <div class="leftbar__tool-item">
                  <div class="leftbar__tool-btn">button</div>
                </div>
                <div class="leftbar__tool-item">
                  <div class="leftbar__tool-btn">button</div>
                </div>
              </div>  
              <div class="leftbar__tool-items leftbar__tool-bottom">
                <div class="leftbar__tool-item">
                  <div class="leftbar__tool-btn">button</div>
                </div>
                <div class="leftbar__tool-item">
                  <div class="leftbar__tool-btn">button</div>
                </div>
              </div>
            </div>

            <div class="navigation">
              <div class="navigation__inner"></div>
            </div>
            
          </div>
         
          
        </div>
      </div>
  
    </main>

    <footer class="footer">
    </footer>

  </div>

<script src="js/main.js"></script>

</body>
</html>