{% load static %}
{% load qr_code %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{kma.title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- <link href="{% static 'checker_2/css/reset.css' %}" rel="stylesheet"> -->
  <!-- <link href="{% static 'checker_2/css/global.css' %}" rel="stylesheet"> -->
  <link href="{% static 'checker_2/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'root/css/flag-icon.min.css' %}" rel="stylesheet">
  <!--ICONS-->
  <script src="https://kit.fontawesome.com/da43c2ea11.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% for link in kma.get_favicon_links %}
  {{link|safe}}
  {%endfor%}
<!--  FOR MANUAL-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- STYLES -->
  <link rel="stylesheet" href="{% static 'manual/css/bs_styles.css' %}">
  <link rel="stylesheet" href="{% static 'manual/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'manual/css/my_styles.css' %}">
</head>

<body>

  <!-- <div id="for-doc" style="display: none;">
    <div id="manual" class="content "></div>
  </div> -->
    <!--TO - CLONE-->
  <div id="text-analiz" style="display: none;">
    <div class="info-block info">
      <i class="fa-solid fa-circle-chevron-down"></i>
    </div>
    <div class="info-block warning">
      <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
    <div class="info-block error">
      <i class="fa-solid fa-circle-exclamation"></i>
    </div>
  </div>

  <div class="wrapper">

    <header class="header">
      <div class="topbar">
        <div class="container-fluid">
          <div class="topbar__row">

            <div class="topbar__items" style=" margin-left: 7px;border-left: 1px solid rgb(43, 43, 43);">
              <div class="topbar__item">
                <div class="topbar__burger">
                  <a href="{% url 'checker_2:index' %}" style="display: flex; align-items: center; justify-content: center;">
                      <!-- <?xml version="1.0" standalone="no"?>
                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
                        "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd"> -->
                        <!-- <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 748.000000 769.000000"
                        preserveAspectRatio="xMidYMid meet">
    
                        <g transform="translate(0.000000,769.000000) scale(0.100000,-0.100000)"
                        fill="#ebebeb" stroke="none">
                        </g>
                        </svg> -->
                    <img src="{% static 'checker_2/scripts/logo_2.png' %}" style="width: 40px;">
                  </a>
                  <!-- <img class="topbar__logo" src="{%static 'checker_2/scripts/logo.svg'%}" alt="logo"> -->
                </div>
              </div>
              <div class="topbar__item">
                <div class="topbar__btn" id="country">{{kma.country|upper}}
                  <span class="flag-icon flag-icon-{{kma.country}}"></span>
                </div>
              </div>
              <div class="topbar__item">
                <div class="topbar__btn" id="language"> {{kma.full_lang}}
                </div>
              </div>
              <div class="topbar__item">
                <div class="topbar__btn" id="phone-code">+{{kma.phone_code}}</div>
              </div>
              <div class="topbar__item">
                <div class="topbar__btn"><span id="s1">{{kma.s1}}</span> (<span id="s4">{{kma.s4}}</span>)</div>
              </div>
              <div class="topbar__item">
                <div class="topbar__btn"><span id="curr">{{kma.curr}}</span></div>
              </div>
              <div class="topbar__item">
                <div class="topbar__btn"><span id="discount">{{kma.discount}}</span>%</div>
              </div>
              <div class="topbar__btn" id="jeneral-status" style="display: {%if user_settings.left_bar %}none;{%else%}flex;{%endif%}">

              </div>
              <div class="topbar__item">
                <div id="scripts-img">
                  {%if kma.is_yam_script%}
                  <img src="{% static 'checker_2/scripts/yam.png' %}">
                  {%endif%}
                  {%if kma.is_social_script%}
                  <img src="{% static 'checker_2/scripts/spy.png' %}">
                  {%endif%}
                </div>
              </div>
            </div>
            <div class="topbar__items">
              <div class="topbar__item devises">
                <div class="topbar__btn devise active" onclick="setDevice('desctop')">
                  <div style="position: relative;">
                    <svg data-icon="DeviceLaptopCutCorner24" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" class="bem-Svg bem-TopBar_Body_BreakpointButton_Icon bem-TopBar_Body_Button_Icon" style="display: block;">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.037 3H4a1 1 0 00-1 1v13H0v2a1 1 0 001 1h22a1 1 0 001-1v-2h-3V8.82l-.997-.725-.003.002V17H4V4h10.418a1.445 1.445 0 01-.381-1z" fill="currentColor"></path>
                      <path opacity=".6" fill-rule="evenodd" clip-rule="evenodd" d="M15.74 5H5v11h14V8.825l-.874.636c-1.175.855-2.758-.293-2.31-1.676l.717-2.21L15.742 5z" fill="currentColor"></path>
                    </svg>
                    <svg data-icon="DeviceBase" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" class="bem-Svg bem-TopBar_Body_BreakpointButton_Icon bem-TopBar_Body_Button_Icon" style="display: block; position: absolute; right: -4px; top: -4px; stroke: rgb(64, 64, 64);">
                      <path d="M9.78 6l-.829-2.553c-.3-.921-1.603-.921-1.902 0L6.219 6H3.54c-.968 0-1.371 1.24-.587 1.81l2.17 1.574-.83 2.556c-.299.921.756 1.687 1.54 1.117l2.171-1.58 2.169 1.576c.783.57 1.838-.196 1.539-1.118l-.828-2.552 2.166-1.574c.784-.57.381-1.809-.588-1.809h-2.68z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
              </div>

              <div class="topbar__item devises">
                <div class="topbar__btn devise" onclick="setDevice('laptop')">
                  <svg data-icon="DeviceTabletPortrait24" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" style="display: block;">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 4a1 1 0 011-1h14a1 1 0 011 1v16a1 1 0 01-1 1H5a1 1 0 01-1-1V4zm7 15a1 1 0 112 0 1 1 0 01-2 0zm8-15H5v13h14V4z" fill="currentColor"></path>
                    <path opacity=".6" fill="currentColor" d="M6 5h12v11H6z"></path>
                  </svg>
                </div>
              </div>

              <div class="topbar__item devises">
                <div class="topbar__btn devise" onclick="setDevice('phone')">
                  <svg data-icon="DeviceMobilePortrait24" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" style="display: block;">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4a1 1 0 011-1h10a1 1 0 011 1v16a1 1 0 01-1 1H7a1 1 0 01-1-1V4zm5 15a1 1 0 112 0 1 1 0 01-2 0zm6-15H7v13h10V4z" fill="currentColor">
                    </path>
                    <path opacity=".6" fill="currentColor" d="M8 5h8v11H8z">
                    </path>
                  </svg>
                </div>
              </div>

              <div class="topbar__item devises" id="devise-width">
                <div class="topbar__btn" >
                  <span>1000</span> PX
                </div>
              </div>
            </div>
            <div class="topbar__items">
              
              <div class="topbar__item">
                <a href="{{kma.get_land_admin_url}}" target="_blank" id="original-link">
                  <div class="topbar__btn">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </div>
                </a>
              </div>
              <div class="topbar__item">
                <a href="{{kma.url}}" target="_blank" id="original-link">
                  <div class="topbar__btn">            
                      {{kma.get_clean_url}}
                  </div>
                </a>
              </div>
              <div class="topbar__item">
                <div class="topbar__btn" onclick="iframereboot()">
                  <i class="fa-solid fa-rotate-right"></i>
                </div>
              </div>
              <!-- <div class="topbar__item">
                <div class="topbar__btn qrcode" id="show-qr">
                  QR
                  <i class="fa-solid fa-qrcode"></i>
                </div>
              </div> -->

            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="main">

      <div class="main__inner">

        <div class="leftbar">
          <div class="container-fluid">
            <div class="leftbar__inner">

              <div class="leftbar__tool">
                <div class="leftbar__tool-items">
                  <div class="leftbar__tool-item navigation-btn {%if user_settings.left_bar %}active{%endif%}"
                   id="navigator">
                    <svg data-icon="Navigator" aria-hidden="true" focusable="false" width="21" height="15" viewBox="0 0 21 15" class="bem-Svg" style="display: block;"><path fill="currentColor" d="M15 1H1v3h14V1zM6 6v3h14V6H6zm0 8h14v-3H6v3z"></path></svg>
                  </div>
                  <div class="leftbar__tool-item debug {%if user_settings.click_elem %}active{%endif%}" data-iframe-func="showCkickEmems">
                    <svg data-icon="ShareLarge" aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20" class="bem-Svg" style="display: block;"><path fill="currentColor" d="M14 11V7.33h-2a3 3 0 00-3 3v3H7v-3a4.998 4.998 0 015-5h2V2l6 4.5-6 4.5z"></path><path fill="currentColor" d="M7.108 4H2a1 1 0 00-1 1v12a1 1 0 001 1h15a1 1 0 001-1v-5.25l-2 1.5V16H3V6h2.272a8.044 8.044 0 011.836-2z"></path></svg>
                  </div>
                  <div class="leftbar__tool-item debug {%if user_settings.other %}active{%endif%}" data-iframe-func="showFormPriceDate">
                    <svg data-icon="Commercepanel" aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20" class="bem-Svg" style="display: block;"><path d="M3.122 2H0V0h4.878L5.4 4H19v6.82L4.647 13.69 3.122 2zM18 20a2 2 0 110-4 2 2 0 010 4zM6 20a2 2 0 110-4 2 2 0 010 4z" fill="currentColor"></path></svg>
                  </div>
                  <div class="leftbar__tool-item" data-iframe-func="removeAllDebug" id="clear-debug">
                    <i class="fa-solid fa-xmark"></i>
                  </div>
                  
                </div>
                <div class="leftbar__tool-item" id="about" data-manual-link="other.linkchecker">
                  <i class="fa-solid fa-circle-question" style="font-size: 20px;"></i>
                </div>
              </div>

              <div class="navigation" {%if not user_settings.left_bar %} style="display: none; position:absolute;"{%endif%}>
                <div class="navigation__inner">
                  <div class="navigation__checker">

                    <div class="navigation__checker-data" id="checker-data">
                      <div id="img-doubles">
                        {% for img in kma.img_doubles %}
                        <img data-oi-img="{{img.hash}}" src="{{img.src}}">
                        {%endfor%}
                      </div>
                      <div class="container-toolbar" id="analize-load">
                        <!-- <div class="lds-ring" id="load-ring">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                        </div> -->
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        <p>Загрузка сайта</p>
                        <p style="display: none;">Анализ</p>
                      </div>
                      <div id="text-info">
                      </div>
                    </div>

                    <div class="navigation__checker-list" id="check_list">
                      <!-- <div class="leftbar__tool-btn" id="clear-check-list">Clear</div> -->

                      <div class="list-group">
                        {%for block in checker.check_list %}
                        <div class="block block group-id-{{ forloop.counter }}">

                          <label class="list-group__items tab">
                            <input class="tab__input" type="checkbox" id="tab1" name="tab-group">
                            <b class="list-group__items-title tab-title" for="tab">
                              {{block.name}}
                              {%if block.manual_link%}
                              <a href="" data-manual-link="{{block.manual_link}}">
                                <i class="fa-solid fa-circle-question"></i>
                              </a>
                              {%endif%}
                            </b>

                            <div class="list-group-item__row tab-content">
                              {%for sub in block.subs %}
                              <label class="list-group-item sub {%if sub.is_notice %}notice{%endif%}" data-checkpoint-id="{{sub.id}}">
                                <input class="form-check-input me-1 " type="checkbox" value="" {%if sub.is_checked %}checked{%endif%}>
                                {{sub.text}}
                                {%if sub.manual_link%}
                              <a href="" data-manual-link="{{sub.manual_link}}">
                                <i class="fa-solid fa-circle-question"></i>
                              </a>
                              {%endif%}
                              <div class="lds-ring check-list" style="display: none;">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                              </div>
                            </label>
                              <!-- <label class="list-group-item sub {%if sub.is_notice %}notice{%endif%}"
                                data-checkpoint-id="{{sub.id}}">
                                <input class="form-check-input me-1 " type="checkbox" value="" {%if sub.is_checked%}checked{%endif%}>
                                {{sub.text}}
                              </label> -->
                              {%endfor%}
                            </div>
                            </label>
                        </div>
                        {%endfor%}
                      </div>
                    </div>

                  </div>



                </div>

              </div>

              <div class="navigation__add" id="navigation-add">
                <div class="navigation__add-inner">
                  <div class="add-inner__head">
                    <div class="add-inner__item">
                      Документация
                    </div>
                    <a class="add-inner__lock" onclick="document.getElementById('navigation-add').style.display = 'none'">
                      <i class="fa-solid fa-xmark"></i>
                    </a>
                  </div>
                  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                  <div class="add-inner__main content" id="manual" >
                    <!-- <p>
                      -----LOADING-----
                    </p> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="frame-wrapper">
          <iframe srcdoc="{{kma.iframe_srcdoc|safe}}" id="iframe"></iframe>
        </div>

      </div>

    </main>

  </div>
  <script src="js/main.js"></script>
  <script>
    let currentUrl = window.location.origin;
    const full = location.protocol + '//' + location.host + '/';
    let site = iframe.contentWindow
    let csrftoken = '{{csrf_token}}' // csrfmiddlewaretoken
    let checkedUrl = '{{kma.url|safe}}'

    let land_data_from_js = false;
    let get_phone_code_api = false;
    let get_old_analize = false;



    iframe.onload = function () {
      // исполнение после полной загрузки iframe
      // iframe.contentDocument.body.prepend("Hello, world!");
      if (land_data_from_js) { loadLandParams() }
      if (get_phone_code_api) { getPhoneCode() }

      land_code = $(iframe.contentDocument).find('html').html()
      $('#analize-load p').first().slideUp(300, function(){
        $('#analize-load p').last().slideDown(300)
      })

      // $('#analize-load p').first().slideUp(300)
      // $('#analize-load p').last().slideDown(300)
      onActiveDebug()
      setDeviseWidth()
      loadBackAnalize(land_code)

    }


    function runFuncIframe(func_name) {
      // запустить функцию в айфрейме по названию
      let func = iframe.contentWindow[func_name]
      func();

    }

    function loadLandParams() {
      // загрузка в тулбар данных по ценам и скидкам
      let country = site.country // iso страны лэнда из обьекта js
      $('#country').text(site.country)
      $('#s1').text(site.country_list[country].s1)
      $('#s4').text(site.country_list[country].s4)
      $('#curr').text(site.country_list[country].curr)
      $('#discount').text(site.country_list[country].discount)
    }


    function getPhoneCode() {
      // Получить Маску телефона по стране API
      url = currentUrl + '/kma/get_phone_code/'
      console.log(url, 'url')
      data = { 'country_code': site.country }
      $.get(url, data, function (response) {
        console.log(response, 'RESPONSE PHONE CODE')
        if (response['success'] == true) {
          $('#phone-code').text('+' + response['phone_code'])
          PhoneMask = '+' + response['phone_code'];
        }
        else { $('#phone-code').text('error'); console.error('Маска phone не загружена', response['message']) }
      })
    }

    function setDevice(deviseType) {
      // изменение ширини сайта пож выбранный девайс
      devicesWidth = {
        'desctop': '100%',
        'laptop': '1180px',
        'phone': '375px',
      }
      let width = devicesWidth[deviseType]
      $('#iframe').css('width', width)
      setDeviseWidth()
    }


    let x_data = {
      'text': 'Some text',
      'status': 'warning',
      'items': ['123', '123', 'xxxx', 'xxyyyy']
    }
    function loadImfoItems(items) {
      console.log(items)
      for (pos in items) {
        let item = items[pos];
        addInfo(item)
      }
    }
    function addInfo(x_data) {
      let info = $('#text-analiz .info-block.' + x_data['status']).clone()
      let main_text = $('<p>')
      main_text.text(x_data['text'] + ': ')
      info.append(main_text)
      for (pos in x_data['items']) {
        let item_text = x_data['items'][pos]
        let item_elem = $('<p>')
        item_elem.text(item_text)
        info.append(item_elem)
      }
      $('#text-info').append(info)
    }


    function loadBackAnalize(land_code) {
      // Загрузда данных анализа текста API
      $('#text-info').empty()
      $('#analize-load').show()
      let url = currentUrl + '/checker_2/analiz_land_text/'
      data = { 'land_text': land_code }
      $.post(url, data, function (response) {
        let analiz_response = response;
        console.log(analiz_response)
        if (response['success']) {
          $('#analize-load').hide()

          if (get_old_analize) {
            offers = response.result['offers']
            putDataFromAnalize('Офферы:', offers)
            currs = response.result['currencys']
            putDataFromAnalize('Валюты:', currs)
            dates = response.result['dates_on_land']
            putDataFromAnalize('Даты:', dates)
            phone_codes = response.result['phone_codes']
            putDataFromAnalize('Моб коды:', phone_codes)
            geo_words = response.result['geo_words_templates']
            putDataFromAnalize('Слова:', geo_words)
            scripts_on_land = response.result['scripts']
          }
          setJeneralStatus(response['jeneral_status'])
          loadImfoItems(response['new_checker'])
          console.log('End')
          // fixListHeight()

        } else {
          console.error('Ошибка загрузки анализатора')
        }

      })
    }

    // Добавить иконку общего статуса
    function setJeneralStatus(status){
      $('#jeneral-status').empty()
      status_ico = {
        'info': 'fa-solid fa-circle-chevron-down',
        'warning': 'fa-solid fa-triangle-exclamation',
        'error': 'fa-solid fa-circle-exclamation',
      }
      if (status == ''){$('#jeneral-status').remove()}
      else
      {
        let elem = $('<i></i>')
        elem.addClass(status_ico[status])
        $('#jeneral-status').append(elem)
      }
    }

    function putDataFromAnalize(desc, data) {
      $('#text-info').append(`<br>`)
      $('#text-info').append(`<p>${desc}</p>`)
      for (id in data) {
        let value = data[id]
        $('#text-info').append(`<span>${value}</span>`)
      }
    }

    // При клике на найденые дубли картинок
    $('#img-doubles img').click(function () {
      runFuncIframe('showImages')
      iframe.contentWindow.doubleImgScroll($(this).attr('data-oi-img'))
    })


    // перезагрузка iFrame
    function iframereboot() {
      var iframe = document.getElementById('iframe');
      iframe.srcdoc = iframe.srcdoc;
    }


    // загрузка документации
    function loadDoc(manual_land){
      $('.navigation__add-inner .lds-ellipsis').show()
      $('#navigation-add').show()
      $('#manual').empty()
      let url = currentUrl + '/checker_2/doc_page/'
      data = {'manual_land': manual_land}
      $.post(url, data,function(response){
        // $('#for-doc').show()
          $('#manual').html(response)
          $('.navigation__add-inner .lds-ellipsis').hide()
      })
    }

    function setDeviseWidth(){
      let elem = $('#devise-width span')
      let width = $('#iframe').css('width').replace('px', '')
      elem.text(width)
    }

  </script>
  <style>
      /* #for-doc{
        position: absolute;
        top: 70px;
        left: 400px;
        width: 600px;
        min-height: 100px;
        background-color: white;
        z-index: 5;
        padding: 20px;
        border-radius: 10px;
        border: 3px solid black;
        max-height: 800px;
        overflow: hidden;
        overflow-y: scroll;
      } */
      /* #manual{
        overflow: hidden;
        overflow-y: scroll;
      } */
  </style>

  <script>

    // загрузка документации при клике на вопросик
    $('#check_list a, #about').click(function(e){
      e.preventDefault();
      // $(".navigation__add").slideToggle();
      $(".navigation__add").show();
      let manualLink = $(this).attr('data-manual-link');
      loadDoc(manualLink);
    })
      // открыть весь список
      $('.tab-content').trigger('click')


        /* -------------------- */
    // $(".navigation-btn").on("click", function(e){
    //   e.preventDefault();
    //   $(".navigation").slideToggle();
    // });
        /* -------------------- */

    // fixListHeight()
    // для чеклиста
    $('#clear-check-list').click(function () {
      $('.check_list input').prop('checked', false);
    })

    // $('.list-group').click(function () {
    //   fixListHeight()
    // })


    /* function fixListHeight(){
      // Подогнать высоту чеклиста
      let chekListWidth = $('#iframe').height() - $('#checker-data').height()
      console.log(chekListWidth, 'chekListWidth')
      chekListWidth = chekListWidth - 30;
    $('#check_list').height(chekListWidth + 'px')
    } */




    // Снять\Поставить все гагли в чеклисте
    // $('a.clear-group').click(function (e) {
    //   e.preventDefault()
    //   let groupId = $(this).attr('data-group-id')
    //   if ($(this).attr('data-group-status') == 1) {
    //     $('.group-id-' + groupId + ' input').prop('checked', true);
    //     $(this).attr('data-group-status', '0')
    //     $(this).text('Снять все')
    //   } else {
    //     $('.group-id-' + groupId + ' input').prop('checked', false);
    //     $(this).attr('data-group-status', '1')
    //     $(this).text('Отметить все')
    //   }

    // })


    function sendNewCheckStatus(check_point_id, checked_url, new_status) {
      // Отпарвить новый статус у пункта проверки чеклиста
      url = full + 'checker_2/change_status_of_user_checklist/'
      data = {
        'check_point_id': check_point_id,
        'checked_url': checked_url,
        'status': new_status,
        'csrfmiddlewaretoken': csrftoken,
      }
      $.post(url, data, function (response) {
        console.log(response)
        if (response['success'] != true) { console.error('Ошибка сохранения чекпоита!') }
        makeCkeckPointAnable(check_point_id)
      })

    }

    function makeCkeckPointAnable(checkPointId) {
      let checkPoint = $('#check_list .list-group-item.sub').filter(function () {
        if ($(this).attr('data-checkpoint-id') == checkPointId) { return true }
      })
      checkPoint.find('input').prop('disabled', false)
      checkPoint.find('.lds-ring.check-list').hide()
    }

    $('#check_list .list-group-item.sub input').click(function () {
      console.log(123)
      let check_point = $(this).parent()
      if ($(this).attr('disabled') != 'disabled') {
        $(this).prop('disabled', true)
        let check_point_id = check_point.attr('data-checkpoint-id')
        let status = $(this).is(':checked')
        check_point.find('.lds-ring.check-list').show()
        console.log(check_point_id, status, check_point.find('.lds-ring.check-list'))
        sendNewCheckStatus(check_point_id, checkedUrl, status)
      }

    })

  </script>

<script src="{% static 'manual/js/main.js' %}"></script>
<script>

  // при клике на кнопки дебагрежима
  $('.leftbar__tool-item.debug').click(function(){
    $(this).toggleClass('active')
    runFuncIframe('removeAllDebug')
    onActiveDebug()
    // $.each(items, function(i){
    //   let func = $(this).attr('data-iframe-func')
    //   runFuncIframe(func)

    // })
  })

  // включить дебаг которые активны
  function onActiveDebug(){
    let items = $('.leftbar__tool-item.debug.active')
    $.each(items, function(i){
      let func = $(this).attr('data-iframe-func')
      runFuncIframe(func)

    })
  }
  // при клике отключить дебаг режим
  $('#clear-debug').click(function(){
    $('.leftbar__tool-item.debug').removeClass('active')
    let cleanFunc = $(this).attr('data-iframe-func')
    runFuncIframe(cleanFunc)
  })

  // изменение режима отображения большой боковой панели
  $('#navigator').click(function(){
    if ($(this).hasClass('active')){
      $('.navigation').css('position', 'absolute')
      $(this).removeClass('active')
      $('#jeneral-status').show()
      // $('#jeneral-status').css('display', 'flex')
      setDeviseWidth()
    } else {
      $('.navigation').css('position', 'static')
      $(this).addClass('active')
      $('.navigation').show()
      $('#jeneral-status').hide()
      setDeviseWidth()
    }
  })

  // при наведении на добовую панель
  $('.leftbar').hover(function(){
    if (!$('#navigator').hasClass('active')){
      $('.navigation').show()
      $('#jeneral-status i').hide()
    }
  })
  // при наведении на окно фрейма
  $('#iframe').hover(function(){
    if (!$('#navigator').hasClass('active')){
      $('.navigation, #navigation-add').hide()
      $('#jeneral-status i').show()
    }
  })


  $('.topbar__item.devises .devise').click(function(){
    $('.topbar__item.devises .devise').removeClass('active')
    $(this).addClass('active')
  })
</script>
<style>
  .leftbar__tool-item svg,
  .leftbar__tool-item i
  {
    color: #ffffff;
    margin: 0 7px;
  }
  .leftbar__tool-item.active svg,
  .leftbar__tool-item.active i
  {
    color: rgb(93 178 255);
    margin: 0 7px;
  }

  .leftbar__tool-item {
  margin-top: -1px;
  display: block;
  /* width: 35px; */
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: default;
  border-bottom: 1px solid rgb(43, 43, 43);
  }


  .list-group .block{
    background-color: rgb(43, 43, 43);
    border-top: 1px none;
    border-right: 0px solid rgb(33, 33, 33);
    border-bottom: 1px solid rgb(33, 33, 33);
    border-left: 0px solid rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 13px;
    font-weight: 450;
  }
  .list-group-item{
    background-color: #404040;
    border-bottom: 1px solid #212121;
  }
  .list-group-item:hover{
    background-color: rgb(77, 77, 77);
    /* background-color: rgb(141, 34, 34); */
  }
  /* #4d4d4d */
  .list-group i{
  margin-left: 3px;
  font-size: 1rem;
  }
</style>
<style>

  .topbar__btn{
    padding: 6px;
    display: flex;
    /* border-right: 1px solid rgb(43, 43, 43); */
  }
  .topbar__btn.active{
    background-color: #212121;
  }
  .topbar__btn svg{
    color: #ffffff;
    opacity: 0.4;
  }
  .topbar__btn svg:hover{
    opacity: 0.6;
  }
  .topbar__btn.active svg{
    opacity: 0.8;
  }
</style>
<style>
  #check_list a i{
    color: rgb(93 178 255);
    font-size: 13px;
  }
  #country span{
    margin-left: 3px;
  }
</style>
<style>
  .navigation__add-inner .lds-ellipsis{
    margin: 0 10px;
    margin-top: 5px;
  }

  .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 16px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
  </style>
  <style>
    /* 123 */
    #analize-load{
      display: flex;
      align-items: center;
      color: aliceblue;
      text-transform: uppercase;
      font-size: 13px;
    }

    #devise-width span{
      font-weight: 600;
      margin-right: 3px;
    }
  </style>
</body>

</html>