<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h1>
    iFrame
</h1>
<div class="for-iframe">
    <!-- <iframe src="{% url 'checker:iframe' %}" id="iframe"></iframe> -->
    <iframe srcdoc="{{land|safe}}" id="iframe"></iframe>


    <!-- <iframe src="http://127.0.0.1:8000/checker/check_url/?csrfmiddlewaretoken=9AjLvWp4UFNRgBODQaZlWbOANZjvgPx6kUiHQhm0f4XcRNjmopwYYU5146TLVPeP&url=https%3A%2F%2Fblog-feed.org%2Fartox-blog%2F%3Fufl%3D11991" id="iframe"></iframe> -->
    <!-- <iframe src="https://blog-feed.org/artox-blog/?ufl=11991" id="iframe"></iframe> -->


</div>
<style>
    iframe{
        width: 80%;
        height: 100%;

    }
    .for-iframe{
    padding-left: 250px;
    width: 100%;
    height: 600px;
    }
</style>
<script>
    // let iframe = $("#iframe").contents().document();   ChangeName
    // console.log(land)
    iframe.onload = function() {
    // just do anything
    iframe.contentDocument.body.prepend("Hello, world!");
    let height = screen.height
    let func = iframe.contentWindow.ChangeName
    console.log(func)
    func()
    // $('#iframe').css('height', (height * 0.9) + 'px')
    // $('#iframe').css('width', (screen.width * 0.8) + 'px')
  };
    // $('.for-iframe').css('width', screen.width)

</script>
</body>
</html>
