{% extends 'root/base.html' %}
{% load static %}
{% block content %}

<div class="main-wrapper">
    <h1>LinkChecker v2</h1>
    <div id="for-logo">
         <img src="{% static 'checker_2/scripts/logo_2.png' %}">
    </div>
    <div class="form-wrapper">
        {%if error_text  %}
        <div class="error-message">
            <i class="fa-solid fa-triangle-exclamation"></i>
            {{error_text}}
        </div>
        {%endif%}
       
        <form action="{% url 'checker_2:check_url' %}" method="GET" target1="_blank" id="url-for-check">
            <label>Url для проверки:</label>
            {% csrf_token %}
            <input type="url" name="url" class="form-control" required placeholder="Введите url">
            <input type="hidden" id="checker_leftbar" value="{{user_settings.left_bar}}" name="checker_leftbar">
            <input type="hidden" id="checker_clickelems" value="{{user_settings.click_elem}}" name="checker_clickelems">
            <input type="hidden" id="checker_other_elems" value="{{user_settings.other}}" name="checker_other_elems">
            <button class="btn btn-primary">Проверить</button>
        </form>
    </div>
    
</div>
<div id="settings">
    <i class="fa-solid fa-gear"></i>
    <form style="">
        <div>
            <input type="checkbox" id="leftbar"  
            {%if user_settings.left_bar%}checked{%endif%}
            >
            <label for="leftbar">Показывать панель</label>
        </div>
        <div>
            <input type="checkbox" id="clickelems" 
            {%if user_settings.click_elem%}checked{%endif%}
            >
            <label for="clickelems">Кликабельные элементы</label>
        </div>
        <div>
            <input type="checkbox" id="other_elems"
            {%if user_settings.other%}checked{%endif%}
            >
             <label for="other_elems">Даты, Формы и Цены</label>
        </div>
    </form>
</div>
<script>
    $('#settings').hover(function(){
        $(this).addClass('active')
        // $('#settings i').hide()
        // $('#settings form').show()
    })
    $('.main-wrapper').hover(function(){
        $('#settings').removeClass('active')
    })

    $('#settings').click(function(){
        let inputs = $('#settings input')
        $.each(inputs,function(){
            let id = 'checker_' + $(this).attr('id')
            let input = $('#'+id).val($(this).is(':checked'))
        })
    })
</script>
<style>
    #for-logo{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #for-logo img{
        width: 160px;
        /* height: 160px; */
    }
    .error-message{
        color: rgb(255, 66, 77);
        margin-bottom: 20px;
    }
    h1{
        text-align: center;
        margin-top: 60px;
        color:   #ebebeb;

    }
    form#url-for-check {
        color:   #ebebeb;
        width: 500px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
 
    body{
        background-color: #404040;

    }
    .form-wrapper{
        display: flex;
        height: 45vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
    form#url-for-check input{
    padding: 0px 4px 0px 24px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(33, 33, 33);
    border-radius: 2px;
    line-height: 22px;
    background: rgb(33, 33, 33);
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: #d9d9d9;
    font-size: inherit;
    font-family: inherit;
    outline: 0px;
    height: 70px;
   
    }
    form#url-for-check input:focus{
        box-shadow: rgb(36 155 255) 0 0 0 1px;
    }
    form#url-for-check button{
        text-transform: uppercase;
        height: 70px;
        border-radius: 0px;
        background: #0073e6;
        color: white;
        padding: 3px 15px;
        font-size: 20px;
        font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    }
    form#url-for-check button:hover{
        background: #0080ff;
        color: white;
    }

    #settings{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 50px;
        right: 50px;
        border: 2px solid #ebebeb;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    #settings.active{
        width: 200px;
        height: 100px;
        font-size: 11px;
        border-radius: 0px;
    }
    #settings i{
        display: block;
        color:  #ebebeb;
        font-size: 18px;
    }
    #settings.active i{
        display: none;
    }
    #settings form div{
        display: flex;
        align-items: center;
        color:#ebebeb;
        text-transform: uppercase;
    }
    #settings form{
        display: none;
    }
    #settings.active form{
        display: block;
        margin: 0;
    }
    #settings form input{
        margin-right: 3px;
    }
</style>


{% endblock %}