{% extends 'root/base.html' %}
{% load static %}
{% block content %}

<div class="main-wrapper">
    <h1>LinkChecker v2</h1>
    <div class="form-wrapper">
        {%if error_text %}
        <div class="error-message">
            <i class="fa-solid fa-triangle-exclamation"></i>
            {{error_text}}
        </div>
        {%endif%}
        <form action="{% url 'checker_2:check_url' %}" method="GET" target1="_blank" id="url-for-check">
            <label>Url для проверки:</label>
            {% csrf_token %}
            <input type="url" name="url" class="form-control" required placeholder="Введите url">
            <button class="btn btn-primary">Проверить</button>
        </form>
    </div>
    
</div>

<style>
    .error-message{
        color: rgb(255, 66, 77);
        margin-bottom: 20px;
    }
    h1{
        text-align: center;
        margin-top: 60px;
        color:   #ebebeb;

    }
    form#url-for-check {
        color:   #ebebeb;
        width: 500px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
 
    body{
        background-color: #404040;

    }
    .form-wrapper{
        display: flex;
        height: 70vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
    form#url-for-check input{
        padding: 0px 4px 0px 24px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(33, 33, 33);
    border-radius: 2px;
    line-height: 22px;
    background: rgb(33, 33, 33);
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: #d9d9d9;
    font-size: inherit;
    font-family: inherit;
    outline: 0px;
    height: 70px;
   
    }
    form#url-for-check input:focus{
        box-shadow: rgb(36 155 255) 0 0 0 1px;
    }
    form#url-for-check button{
        text-transform: uppercase;
        height: 70px;
        border-radius: 0px;
        background: #0073e6;
        color: white;
        padding: 3px 15px;
        font-size: 20px;
        font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    }
    form#url-for-check button:hover{
        background: #0080ff;
        color: white;
    }
</style>


{% endblock %}