<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task #{{task.pk}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--ICONS-->
  <script src="https://kit.fontawesome.com/da43c2ea11.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
  /* img{
    max-width: 250px;
    max-height: 250px;
  } */
</style>
<body>
  <div class="container">
    <h1>Task #{{task.pk}}</h1>
<p>Domain: {{task.domain.url|urlize}}</p>
<p>Общий размер: {{task.files_size.images_size|filesizeformat}}, у миниатюр {{task.files_size.thumb_size|filesizeformat}}</p>
<p>Экономия: {{task.files_size.diff_size|filesizeformat}} ({{task.files_size.diff_percent}}%)</p>
<a class="btn btn-primary" href="{{task.archive.url}}" role="button">
  <i class="fa-solid fa-download"></i> Скачать архив</a>
</div>
<br>
<style>
  .row img{
    /* width: 100%; */
    max-width: 100%;
  }
  .badge{
    white-space: normal;
  }
  [class^='col-5']{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-row{
    border-top: 2px;
  }
</style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-5"><h3>Оригинал</h3></div>
      <div class="col-5"><h3>Миниатюра</h3></div>
    </div>
    <div class="row image-row">
      {%for crop_img in crop_images%}
      <div class="col-2">
        <table class="table">
          <tr class="table-primary">
            <td>Id</td>
            <td>{{crop_img.pk}}</td>
          </tr>
          <tr class="table-{%if 'Больше' in crop_img.status_text%}danger{%else%}warning{%endif%}">
            <td><span class="badge bg-{%if 'Больше' in crop_img.status_text%}danger{%else%}warning{%endif%}">Статус</span></td>
            <td>
              {{crop_img.status_text}}
              </td>
          </tr>
          <tr >
            <td>Статус</td>
            <td>
              <span class="badge bg-{%if 'Больше' in crop_img.status_text%}danger{%else%}warning{%endif%}">{{crop_img.status_text}}</span>
              </td>
          </tr>
          <tr>
            <td>Сжатие</td>
            <td>x{{crop_img.page_compression}}</td>
          </tr>
          <tr>
            <td>Оригинал</td>
            <td>{{crop_img.orig_img.width}}x{{crop_img.orig_img.height}}
                <br>{{crop_img.orig_img.size|filesizeformat}}
            </td>
          </tr>
          <tr>
            <td>На странице</td>
            <td>{{crop_img.thumb.width}}x{{crop_img.thumb.height}}

            </td>
          </tr>
          <tr>
            <td>Thumb</td>
            <td>
              {{crop_img.thumb.width}}x{{crop_img.thumb.height}}<br>
        {{crop_img.thumb.size|filesizeformat}}
            </td>
          </tr>
          <tr>
            <td>Экономия</td>
            <td>
              {{crop_img.weight_diff|filesizeformat}} ({{crop_img.weight_diff_percent}}%)
            </td>
          </tr>
        </table>
      </div>
      <div class="col-5">
        {%if 'Больше' in crop_img.status_text%}
        <img src="{{crop_img.orig_img.url}}" width="{{crop_img.page_width}}" height="{{crop_img.page_height}}">
        {%else%}
        <img src="{{crop_img.orig_img.url}}" width="{{crop_img.orig_img.width}}" height="{{crop_img.orig_img.height}}">
        {%endif%}
      </div>
      <div class="col-5">
        <img src="{{crop_img.thumb.url}}" width="{{crop_img.page_width}}" height="{{crop_img.page_height}}">
      </div>
      {%endfor%}
    </div>
  </div>
</body>
</html>